@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.4s;
}

// VARIABLES START
$color1: #ff5a3c;
$color2: #071c1f;
$color3: #313d5f;
$color4: #f0e8de;
$color5: #181a26;
$color6: #eae6e1;
$color7: #c3baaf;
$color8: #d0d2d6;
$color9: #161d31;
// VARIABLES END

// GLOBAL START
html {
  width: 100%;
  font-size: 100%;
}
.lucida {
  font-family: "CGP", Helvetica, Arial, Lucida, sans-serif;
}
@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 668px) {
  html {
    font-size: 95%;
  }
}
@media screen and (max-width: 575px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 475px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 280px) {
  html {
    font-size: 75%;
  }
}

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f22 {
  font-size: 1.375rem;
}

.f24 {
  font-size: 1.5rem;
}

.f34 {
  font-size: 2.125rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
  line-height: 57px;
}

.f50 {
  font-size: 3.125rem;
  line-height: 65px;
}

.f64 {
  font-size: 4rem;
  line-height: 71px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

p {
  margin-bottom: 0px;
}

.pointer {
  cursor: pointer;
}

.lobster {
  font-family: "Lobster Two", cursive;
}

// COLORS
.color1 {
  color: $color1;

  &:hover {
    color: $color1;
  }
}

.bg_color1 {
  background: $color1;
}

.color2 {
  color: $color2;

  &:hover {
    color: $color2;
  }
}

.bg_color2 {
  background: $color2;
}

.color3 {
  color: $color3;

  &:hover {
    color: $color3;
  }
}

.bg_color3 {
  background: $color3;
}

.color4 {
  color: $color4;

  &:hover {
    color: $color4;
  }
}

.bg_color4 {
  background: $color4;
}

.color5 {
  color: $color5;

  &:hover {
    color: $color5;
  }
}

.bg_color5 {
  background: $color5;
}

.color6 {
  color: $color6;

  &:hover {
    color: $color6;
  }
}

.bg_color6 {
  background: $color6;
}

.color7 {
  color: $color7;

  &:hover {
    color: $color7;
  }
}

.bg_color7 {
  background: $color7;
}

.color8 {
  color: $color8;

  &:hover {
    color: $color8;
  }
}

.bg_color8 {
  background: $color8;
}

.color9 {
  color: $color9;

  &:hover {
    color: $color9;
  }
}

.bg_color9 {
  background: $color9;
}

.page_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

// BTNS
.button6th_container {
  /*==================== BUTTON 6TH ANIMATION START ====================*/
  .btn6th {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: $color1;
    padding: 15px 38px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .btn6th span {
    position: relative;
    z-index: 1;
  }

  .btn6th:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 130%;
    background: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }

  .btn6th:hover {
    color: #222;
    border-radius: 5px;

    &:after {
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
  }

  /*==================== BUTTON 6TH ANIMATION END ====================*/
}
// BTNS

// HEADER START
.header_container {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 5;
  width: 100%;

  .navbar_container {
    padding-top: 1rem;

    .navlinks {
      li {
        a {
          &.active {
            color: $color1 !important;
            font-weight: 800;
            border-bottom: 1px solid $color1;
          }

          &:hover {
            color: $color1 !important;
            border-bottom: 1px solid $color1;
          }
        }
      }
    }

    .logo,
    .navlink {
      color: #fff;
    }

    .hamburger {
      width: 25px;
      height: 18px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
    }

    .hamburger .line {
      width: 100%;
      height: 2px;
      background-color: #fff;
      border-radius: 15px;

      &:nth-child(2) {
        width: 75%;
      }
      &:nth-child(3) {
        width: 50%;
      }
    }

    &.sticky {
      padding-top: 0rem;
      position: fixed;
      top: 0;
      width: 100%;
      height: 70px;
      background-color: #fff;

      .logo,
      .navlink {
        color: #000;
      }

      .line {
        background-color: #000;
      }
    }

    .cross-icon {
      width: 25px;
      height: 2.5px;
      position: relative;

      .cross-icon__bar {
        width: 100%;
        height: 2px;
        background-color: #000;
        position: absolute;
      }

      .cross-icon__bar--top {
        top: 0;
        transform: rotate(45deg);
      }

      .cross-icon__bar--bottom {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }

  .top_container {
    border-bottom: 1px solid;
    border-color: rgba(204, 204, 204, 0.521);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    ul {
      li {
        a {
          .icon {
            &:hover {
              color: $color1 !important;
            }
          }
        }
      }
    }
  }
}
// HEADER END

// SIDEBAR START
.SideBarContainer {
  margin-top: 70px;
  position: fixed;
  bottom: 0%;
  right: 0%;
  left: 0%;
  color: white;
  background: linear-gradient(180deg, #121924 0%, rgba(18, 25, 36, 0) 700%);
  height: 100vh;
  z-index: 10;
  width: 100%;
  transition: 0.5s;
  overflow: hidden;

  .logo {
    position: absolute;
    top: 1%;
    left: 3%;

    img {
      width: 120px;
    }
  }

  .get_started {
    button {
      background: #ff8811;
      border-radius: 6px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      height: 36px;
      width: 120px;
      border: none;
    }
  }
}

.SideBarContainer ul {
  margin-top: 56px;
  padding-left: 0rem;
  margin-bottom: 0px;
}

.SideBarContainer ul li {
  margin-bottom: 32px;
  position: relative;
  list-style: none;
  cursor: pointer;
  text-align: center;

  a {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    font-size: 18px;
  }
  .activeNav::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 10%;
    width: 100%;
    background-color: #007bbc;
    border-radius: 5px;
  }
}

.CrossBTn {
  position: absolute;
  top: 7%;
  right: 6.5%;
  cursor: pointer;
  height: 25px;
}
// SIDEBAR END

// HERO START
.hero_container {
  .subtitle_container {
    // margin: 24px auto 0;
    padding: 0;
    width: 40%;
    text-align: center;
    font-size: 1rem;
    color: #fff;
  }

  .title_container {
    text-align: center;
    font-size: 3.5rem;
    color: #fff;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .wrapper_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }

  .hero-slider-slide::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: 1;
    background: #030513;
    opacity: 0.6;
  }

  &.hero2 {
    .hero-slider-next,
    .hero-slider-previous {
      display: none;
    }

    .wrapper_container {
      justify-content: end;

      .title_container {
        font-size: 3rem;
      }
    }
  }
}
// HERO START

// PROPERTY CARD START
.property_card {
  box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
  border: 1px solid;
  border-color: #f1f8ff;
  background-color: #fff;
  position: relative;
  margin-bottom: 50px;

  .product-img {
    position: relative;
    overflow: hidden;

    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    /* Circle */
    .hover15 figure {
      position: relative;
    }
    .hover15 figure::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: "";
      width: 0;
      height: 0;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    .hover15 figure:hover::before {
      -webkit-animation: circle 0.75s;
      animation: circle 0.75s;
    }
    @-webkit-keyframes circle {
      0% {
        opacity: 1;
      }
      40% {
        opacity: 1;
      }
      100% {
        width: 200%;
        height: 200%;
        opacity: 0;
      }
    }
    @keyframes circle {
      0% {
        opacity: 1;
      }
      40% {
        opacity: 1;
      }
      100% {
        width: 200%;
        height: 200%;
        opacity: 0;
      }
    }

    .product-badge {
      position: absolute;
      top: 15px;
      right: 18px;
    }

    .product-badge li:first-child {
      margin-top: 0;
    }

    .product-badge ul {
      margin: 0;
      padding: 0;
    }

    .product-badge li {
      list-style: none;
      display: inline-block;
      font-size: 13px;
      font-weight: 600;
      background-color: $color1;
      color: #fff;
      padding: 3px 15px 0px;
      text-transform: uppercase;
      line-height: 25px;
    }

    .bg-green {
      background-color: #77c720 !important;
      color: #fff !important;
    }

    .product-img-location-gallery {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 30px 10px;
      margin: 0;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 70%
      );
    }

    .product-img-location-gallery ul {
      padding: 0;
      margin: 0;
      position: relative;
      z-index: 2;

      li {
        list-style: none;
        color: #fff;

        a {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #fff;
          text-decoration: none;

          .icon {
            margin-bottom: 2px;
          }

          &:hover {
            color: $color1;

            .icon {
              color: $color1;
            }
          }
        }
      }
    }
  }

  .product-info {
    padding: 30px 30px 1px;

    .product-price {
      font-size: 18px;
      font-weight: 600;
      color: $color1;
      margin-bottom: 5px;
    }

    .product-title {
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: 600;

      a {
        color: $color2;
        text-decoration: none;

        &:hover {
          color: $color1;
        }
      }
    }

    .product-description p {
      font-size: 13px;
      margin-bottom: 25px;
      color: #5c727d;
      line-height: 25px;
    }
  }

  .ltn__list-item-2 {
    padding-left: 0;
  }

  .ltn__list-item-2-before li {
    position: relative;
    color: #5c727d;
  }

  .ltn__list-item-2 li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    max-width: 160px;
    font-size: 12px;
  }

  .ltn__list-item-2-before li::before {
    position: absolute;
    content: "";
    right: -15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-color: $color2;
    opacity: 0.2;
  }

  .ltn__list-item-2 li span {
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 0.2rem;

    svg {
      margin-bottom: 3px;
    }
  }

  .ltn__list-item-2-before li {
    position: relative;
  }

  .ltn__list-item-2 li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    max-width: 160px;
    font-size: 14px;
  }

  .ltn__list-item-2 li:last-child {
    margin-right: 0;

    &::before {
      display: none;
    }
  }
}
// PROPERTY CARD END

// PROPERTY CARD START
.feature_container {
  .slick-arrow {
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 15px;
    right: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    line-height: 53px;
    display: block;
    border: 1px solid rgba(204, 204, 204, 0.493);
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0) !important;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    right: 15px;
    left: auto;

    &:before,
    &:before {
      color: #000 !important;
    }

    &:hover {
      background-color: $color1 !important;
      border: 1px solid $color1;

      &:before,
      &:before {
        color: #fff !important;
      }
    }
  }

  .slick-prev.slick-arrow {
    top: 50%;
    left: 15px;
  }

  &:hover .slick-arrow {
    opacity: 1;
    visibility: visible;
  }
}
// PROPERTY CARD END

// FOOTER START
.footer_container {
  background-color: #171b2a;
  padding-top: 4.5rem;

  ul {
    li {
      a {
        color: #fff;

        div {
          margin-left: -20px;
        }

        span {
          opacity: 0;
        }

        &:hover {
          color: $color1;

          span {
            color: $color1;
            opacity: 1;
          }

          div {
            margin-left: 0px;
          }
        }
      }
    }
  }

  .bottom {
    background: #282b38;
  }
}
// FOOTER END

// NEWSLETTER START
.newsletter_container {
  position: relative;
  margin-top: -11rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 50%;
    width: 100%;
    background-color: #171b2a;
    z-index: -1;
  }

  .inner_container {
    background: $color1;
    padding: 10px 60px 60px 60px;
  }
}
// NEWSLETTER END

// INPUT START
.custom-field {
  position: relative;
  width: 100%;

  input {
    font-size: 0.875rem;
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;

    &:focus {
      outline: none;
      border-color: #ff5a3c66; /* set your desired border color */
      box-shadow: 0 0 0 0.2rem #ff593c27; /* set your desired box-shadow color */
    }
  }

  .icon {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
  }
}
// INPUT END

// AGENT CARD
.agent_card {
  .card-box-d {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .card-box-d .card-overlay-hover {
    transition: all 0.2s ease-in-out;
    padding: 15px 40px 15px 35px;
  }

  .card-box-d .title-d {
    transition: 0.3s ease-in-out;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
    transform: translateY(-20px);
    opacity: 0;
  }

  .link-two {
    color: #fff;
    transition: all 0.5s ease;
  }

  .card-box-d .content-d {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transform: translateY(-40px);
  }

  .color-text-a {
    text-decoration: none;
    color: #ccc;
  }

  .color-a {
    text-decoration: none;
    color: #fff;
  }

  .card-box-d .info-agents {
    opacity: 0;
    transition: 0.5s ease-in-out;
  }

  .card-box-d .card-body-d p {
    margin-bottom: 12px;
    font-size: 1rem;
  }

  .card-box-d .card-footer-d {
    transition: 0.5s ease-in-out;
    transform: translateY(40px);
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
  }

  .card-box-d .list-inline-item:not(:last-child) {
    margin-right: 25px;
  }

  .card-box-d .list-inline-item {
    &:hover {
      transform: scale(1.2);
    }
  }

  .link-one {
    color: #000000;
    transition: all 0.5s ease;
  }

  .card-box-d .info-agents {
    opacity: 0;
    transition: 0.5s ease-in-out;
  }

  .card-box-d .card-footer-d {
    transition: 0.5s ease-in-out;
    transform: translateY(40px);
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
  }

  .card-box-d .list-inline-item:not(:last-child) {
    margin-right: 25px;
  }

  .card-box-d:hover .card-overlay-hover {
    background-color: $color1;
    opacity: 0.9;
  }

  .card-box-d:hover .title-d,
  .card-box-d:hover .content-d,
  .card-box-d:hover .info-agents,
  .card-box-d:hover .card-footer-d {
    opacity: 1;
    transform: translateY(0);
  }

  /*------/ Agent Single /------*/
  .agent-info-box .socials-footer {
    margin-top: 2rem;
  }

  .agent-info-box .socials-footer li {
    margin-right: 1.5rem;
  }
}
// AGENT CARD

// AGENTS START
.agents_container {
  padding-bottom: 5rem;
}
// AGENTS END

// FEATURED SLIDER START
.featured_slider_container {
  $teal: $color1;
  $max-width: 120rem;

  height: calc(100vh - 100px);
  width: 100vw;
  padding: 1rem 0rem;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
  }

  .app {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    // transition: all 0.2s;
    width: 100%;
  }

  .app__background {
    background: url("https://images.unsplash.com/photo-1523688471150-efdd09f0f312?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
    background-position: center center;
    background-size: cover;
    filter: blur(1px);
    height: 100%;
    position: absolute;
    transform: scale(1.1);
    width: 100%;

    &::before {
      background: rgba(43, 7, 0, 0.7);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .app__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 50%;
    max-width: $max-width;
    overflow-x: hidden;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
  }

  .slider {
    height: 50rem;
    position: relative;
    width: 100%;
  }

  .slider__list {
    display: flex;
    height: 100%;
    position: relative;
    transition: all 0.3s;
    width: 100%;
    margin-top: 3rem;
    list-style-type: none;
  }

  .slider__item {
    position: absolute;
    transition: transform 0.2s;

    .slider__item-img {
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25),
        0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.35);
      height: 24rem;
      object-fit: cover;
      position: absolute;
      right: 0;
      top: 0;
      transition: width 0.5s, height 0.5s;
      width: 14rem;
    }

    &:first-child .slider__item-img {
      box-shadow: 1.9rem 1.9rem 3.8rem rgba(0, 0, 0, 0.5),
        1.5rem 1.5rem 1.2rem rgba(0, 0, 0, 0.3);
      height: calc(100vh - 250px);
      width: 50rem;
      padding-left: 4rem;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 50.6rem;
    position: absolute;
    top: 27.5rem;
  }

  .text__slider-btn {
    align-items: flex-start;
    border-radius: 20%;
    color: $teal;
    cursor: pointer;
    display: flex;
    font-size: 8rem;
    font-weight: bold;
    height: 5rem;
    justify-content: center;
    line-height: 3.7rem;
    overflow: hidden;
    transition: all 0.2s;
    width: 7.5rem;

    &:hover {
      color: lighten($teal, 25%);
    }

    &:active {
      color: $teal;
      transform: scale(1.1);
    }
  }
}
// FEATURED SLIDER END

// CONTACT START
.contact_container {
  padding-bottom: 5rem;
  background: #f8f7f7;

  .info-wrap {
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .info {
    background: #fff;
  }

  .info .icon {
    font-size: 20px;
    color: #f03c02;
    float: left;
    width: 44px;
    height: 44px;
    background: #ffeee8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;

    * {
      transition: all 0.3s ease-in-out;
    }
  }

  .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2b2320;
  }

  .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #65534c;
  }

  .info:hover .icon {
    background: #f03c02;

    .i {
      color: #fff;
    }
  }

  .checkbox__wrapper {
    legend {
      display: table;
      float: left;
      margin: 0;
      padding: 0;
      width: 100%;

      + * {
        clear: both;
      }
    }

    fieldset {
      border: 0;
      padding: 0.01em 0 0 0;
      margin: 0;
      min-width: 0;
    }

    body:not(:-moz-handler-blocked) fieldset {
      display: table-cell;
    }

    // Variables
    $neutral-200: #6675a3;
    $neutral-700: #ff5a3c66;
    $neutral-800: #ff593c27;
    $neutral-900: #ff593c0a;
    $primary: #ff5a3c;
    $white: #fff;
    $radius: 0.25rem;

    // Styles
    .form {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      color: $neutral-200;
      background-color: $neutral-900;
      line-height: 1.5;
    }

    .field {
      background: linear-gradient(150deg, $neutral-900, rgba(255, 255, 255, 0));
      box-shadow: -10px -10px 20px 10px rgba(255, 255, 255, 0.3),
        10px 10px 20px 0px #c5cbe180;
      padding: 2rem;
      border-radius: $radius;

      > * {
        margin-bottom: 1.25rem;
      }

      &__label {
        font-weight: 400;
        font-size: 1.25rem;
      }
    }

    .checkbox {
      font-weight: 300;
      line-height: 1;
      font-size: 1rem;
      cursor: pointer;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      gap: 1rem;

      &__wrapper {
        > * {
          margin-bottom: 1.25rem;
        }
      }

      &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked + .checkbox__check .checkbox__svg {
          path {
            stroke: $primary;
            stroke-width: 1.5px;
            animation: dash 2s ease-out forwards;
          }
          box-shadow: inset 1px 1px 2px 0 $neutral-700;
          border: 1px solid $primary;
        }
      }

      &__svg {
        overflow: visible;
        padding: 0.25rem;
        height: 21px;
        width: 21px;
        border-radius: 0.125rem;
        transform: scale(1.5);
        background: linear-gradient(145deg, $neutral-800, $neutral-900);
        box-shadow: 4px 4px 8px 0 #c5cbe180,
          -4px -4px 8px rgba(255, 255, 255, 0.5);
        border: 1px solid $neutral-700;

        path {
          stroke: transparent;
          stroke-dasharray: 100;
          stroke-dashoffset: 100;
        }
      }
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }
  }

  .form-control:focus {
    border-color: #ff5a3c66; /* set your desired border color */
    box-shadow: 0 0 0 0.2rem #ff593c27; /* set your desired box-shadow color */
  }
}
// CONTACT END

// LOCATION START
.location_container {
  // padding-bottom: 5rem;
}
// LOCATION END

// CHECKBOX START
// SELECT 2
.custom-select {
  position: relative;

  .field_label {
    position: absolute;
    top: -0.5rem;
    left: 0.45rem;
    width: auto;
    padding: 0rem 0.32rem;
    background: #000;
    z-index: 2;
    color: #fff;
  }

  details {
    position: relative;
    width: 100%;
    margin-right: 1rem;
    border: 3px solid #000;
    border-radius: 6px;
    height: 51px;
    padding-top: 2.2px;
  }

  details[open] {
    z-index: 1;
  }

  summary {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 12px;
    background-color: #000;
    list-style: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  details[open] summary:before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  summary:after {
    content: "";
    display: inline-block;
    float: right;
    width: 0.6rem;
    height: 0.6rem;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom-left-radius: 2px;
    transform: rotate(-45deg) translate(-38%, 16%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;
    color: #fff;
  }

  summary:focus {
    outline: none;
  }

  details[open] summary:after {
    transform: rotate(138deg) translate(58%, -68%);
  }

  ul {
    z-index: 10;
    width: 100%;
    background: #ddd;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
  }

  li {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
  }

  li:first-child {
    padding-top: 0;
  }

  li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  /* FAKE SELECT */

  summary.radios {
    counter-reset: radios;
  }

  summary.radios:before {
    content: var(--selection);
  }

  input[type="radio"] {
    counter-increment: radios;
    appearance: none;
    display: none;
  }

  input[type="radio"]:checked {
    display: inline;
    --display: block;
  }

  input[type="radio"]:after {
    content: attr(title);
    display: inline;
    font-size: 1rem;
    color: #fff;
  }

  ul.list {
    counter-reset: labels;
  }

  label {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
  }

  label span {
    --display: none;
    display: var(--display);
    width: 1rem;
    height: 1rem;
    border: 1px solid #727272;
    border-radius: 3px;
  }
}
// CHECKBOX END

// PAGINATION START
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .page-numbers-container {
    display: flex;
    align-items: center;
    padding-left: 0.6rem;
  }

  .page-number {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    color: #000;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  .page-number.active {
    background-color: $color1;
    color: #fff;
  }
}
// PAGINATION END

// SELECTBOX START
.select-box-container {
  position: relative;
  width: 100px;
}

.select-box-selected-option {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
}
.select-box-selected-option:hover {
  box-shadow: 0px 2px 3px #ccc;
}

.select-box-selected-option-text {
  color: #000;
  font-size: 18px;
  margin-right: 10px;
}

.select-box-icon {
  color: #ff5a3c;
}

.select-box-options-container {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  display: none;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  margin-top: 8px;
}

.select-box-options-container.show {
  display: block;
}

.select-box-option {
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: all 0.2s ease-in-out;
}

.select-box-option:hover {
  background-color: #f5f5f5;
}

.select-box-option.selected {
  background-color: #ff5a3c;
  color: #fff;
  font-weight: 600;
}
// SELECTBOX END

// DETAILED AGENT CARD START
.detailed_agent_card_container {
  .card-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 2px 3px #ccc;
    transition: all 0.3s ease-in-out;
    font-family: "Open Sans", sans-serif;
  }

  .card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px #ccc;
  }

  .card-image-container {
    width: 30%;
    position: relative;
    overflow: hidden;
  }

  .card-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: transform 0.5s ease-in-out;
  }

  .card-image-hover {
    transform: scale(1.1);
  }

  .card-info-container {
    width: 70%;
    padding: 20px;
    color: #333;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-name {
    font-size: 34px;
    color: #ff5a3c;
    margin-bottom: 10px;
  }

  .card-bio {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .card-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-detail {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .card-detail-icon {
    color: #ff5a3c;
    margin-right: 10px;
  }

  .card-detail-text {
    font-size: 18px;
  }

  .card-social-container {
    display: flex;
    align-items: center;
  }

  .card-social-icon {
    color: #ff5a3c;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
  }

  .card-social-icon:hover {
    transform: scale(1.2);
  }
}
// DETAILED AGENT CARD END

// PROPERTy DETAIL START
.single_property_container {
  padding-top: 4rem;

  .info-wrap {
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .info .icon {
    font-size: 20px;
    color: #f03c02;
    float: left;
    width: 44px;
    height: 44px;
    background: #ffeee8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;

    * {
      transition: all 0.3s ease-in-out;
    }
  }

  .info:hover .icon {
    background: #f03c02;

    .i {
      color: #fff;
    }
  }
}

.table-container {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;

  .table-header {
    background-color: #ff5a3c;
    color: white;
    font-size: 18px;
    padding: 12px;
  }

  tr {
    .table-data:nth-child(1) {
      border: 1px solid #ddd;
      padding: 12px;
      font-size: 18px;
      width: 300px;
    }
    .table-data:nth-child(2) {
      border: 1px solid #ddd;
      padding: 12px;
      font-size: 16px;
    }
  }
}
// PROPERTy DETAIL END

// RESPONSIVE START
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 575px) {
  .hero_container {
    .title_container {
      font-size: 2.8rem;
    }
    .subtitle_container {
      width: 90%;
    }
  }

  .button6th_container .btn6th {
    padding: 9px 19px;
  }

  .property_card .ltn__list-item-2 li {
    font-size: 12px;
  }

  .newsletter_container .inner_container {
    padding: 10px 38px 60px 38px;
  }

  .detailed_agent_card_container .card-container {
    flex-direction: column;
  }
  .detailed_agent_card_container .card-image {
    border-bottom-left-radius: 0px;
  }
  .detailed_agent_card_container .card-image-container {
    width: 100%;
  }
  .detailed_agent_card_container .card-info-container {
    width: 100%;
  }
  .detailed_agent_card_container .card-details-container {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .detailed_agent_card_container .card-name {
    font-size: 26px;
  }
  .detailed_agent_card_container .card-bio {
    font-size: 15px;
    line-height: 1.4;
  }

  .header_container .navbar_container .logo {
    .lobster {
      font-size: 3rem;
    }
    .f14 {
      font-size: 1rem;
    }
  }

  .header_container .navbar_container.sticky {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .page_container {
      width: 100%;
    }
  }
}
// RESPONSIVE END
