@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.4s;
}

// VARIABLES START
$color1: #ff5a3c;
$color2: #071c1f;
$color3: #313d5f;
$color4: #f0e8de;
$color5: #181a26;
$color6: #eae6e1;
$color7: #c3baaf;
$color8: #d0d2d6;
$color9: #161d31;
// VARIABLES END

// GLOBAL START
html {
  width: 100%;
  font-size: 100%;
}
@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 668px) {
  html {
    font-size: 95%;
  }
}
@media screen and (max-width: 575px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 475px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 280px) {
  html {
    font-size: 75%;
  }
}

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f22 {
  font-size: 1.375rem;
}

.f24 {
  font-size: 1.5rem;
}

.f34 {
  font-size: 2.125rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
  line-height: 57px;
}

.f50 {
  font-size: 3.125rem;
  line-height: 65px;
}

.f64 {
  font-size: 4rem;
  line-height: 71px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

p {
  margin-bottom: 0px;
}

.pointer {
  cursor: pointer;
}

.lobster {
  font-family: "Lobster Two", cursive;
}

// COLORS
.color1 {
  color: $color1;

  &:hover {
    color: $color1;
  }
}

.bg_color1 {
  background: $color1;
}

.color2 {
  color: $color2;

  &:hover {
    color: $color2;
  }
}

.bg_color2 {
  background: $color2;
}

.color3 {
  color: $color3;

  &:hover {
    color: $color3;
  }
}

.bg_color3 {
  background: $color3;
}

.color4 {
  color: $color4;

  &:hover {
    color: $color4;
  }
}

.bg_color4 {
  background: $color4;
}

.color5 {
  color: $color5;

  &:hover {
    color: $color5;
  }
}

.bg_color5 {
  background: $color5;
}

.color6 {
  color: $color6;

  &:hover {
    color: $color6;
  }
}

.bg_color6 {
  background: $color6;
}

.color7 {
  color: $color7;

  &:hover {
    color: $color7;
  }
}

.bg_color7 {
  background: $color7;
}

.color8 {
  color: $color8;

  &:hover {
    color: $color8;
  }
}

.bg_color8 {
  background: $color8;
}

.color9 {
  color: $color9;

  &:hover {
    color: $color9;
  }
}

.bg_color9 {
  background: $color9;
}

.page_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

// BTNS
.button6th_container {
  /*==================== BUTTON 6TH ANIMATION START ====================*/
  .btn6th {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: $color1;
    padding: 15px 38px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .btn6th span {
    position: relative;
    z-index: 1;
  }

  .btn6th:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 130%;
    background: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }

  .btn6th:hover {
    color: #222;
    border-radius: 5px;

    &:after {
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
  }

  /*==================== BUTTON 6TH ANIMATION END ====================*/
}
// BTNS

// HEADER START
.header_container {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 5;
  width: 100%;

  .navbar_container {
    padding: 1rem 0rem;

    .navlinks {
      li {
        a {
          &.active {
            color: $color1 !important;
            font-weight: 800;
            border-bottom: 1px solid $color1;
          }

          &:hover {
            color: $color1 !important;
            border-bottom: 1px solid $color1;
          }
        }
      }
    }
  }

  .top_container {
    border-bottom: 1px solid;
    border-color: rgba(204, 204, 204, 0.521);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    ul {
      li {
        a {
          .icon {
            &:hover {
              color: $color1 !important;
            }
          }
        }
      }
    }
  }
}
// HEADER END

// HERO START
.hero_container {
  .subtitle_container {
    // margin: 24px auto 0;
    padding: 0;
    width: 40%;
    text-align: center;
    font-size: 1rem;
    color: #fff;
  }

  .title_container {
    text-align: center;
    font-size: 3.5rem;
    color: #fff;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .wrapper_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }

  .hero-slider-slide::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: 1;
    background: #030513;
    opacity: 0.6;
  }
}
// HERO START

// PROPERTY CARD START
.feature_container {
  .property_card {
    box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
    border: 1px solid;
    border-color: #f1f8ff;
    background-color: #fff;
    position: relative;
    margin-bottom: 50px;

    .product-img {
      position: relative;
      overflow: hidden;

      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
      }

      /* Circle */
      .hover15 figure {
        position: relative;
      }
      .hover15 figure::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        content: "";
        width: 0;
        height: 0;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 100%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
      }
      .hover15 figure:hover::before {
        -webkit-animation: circle 0.75s;
        animation: circle 0.75s;
      }
      @-webkit-keyframes circle {
        0% {
          opacity: 1;
        }
        40% {
          opacity: 1;
        }
        100% {
          width: 200%;
          height: 200%;
          opacity: 0;
        }
      }
      @keyframes circle {
        0% {
          opacity: 1;
        }
        40% {
          opacity: 1;
        }
        100% {
          width: 200%;
          height: 200%;
          opacity: 0;
        }
      }

      .product-badge {
        position: absolute;
        top: 15px;
        right: 18px;
      }

      .product-badge li:first-child {
        margin-top: 0;
      }

      .product-badge ul {
        margin: 0;
        padding: 0;
      }

      .product-badge li {
        list-style: none;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        background-color: $color1;
        color: #fff;
        padding: 3px 15px 0px;
        text-transform: uppercase;
        line-height: 25px;
      }

      .bg-green {
        background-color: #77c720 !important;
        color: #fff !important;
      }

      .product-img-location-gallery {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 30px 10px;
        margin: 0;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.8) 70%
        );
      }

      .product-img-location-gallery ul {
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 2;

        li {
          list-style: none;
          color: #fff;

          a {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #fff;
            text-decoration: none;

            .icon {
              margin-bottom: 2px;
            }

            &:hover {
              color: $color1;

              .icon {
                color: $color1;
              }
            }
          }
        }
      }
    }

    .product-info {
      padding: 30px 30px 1px;

      .product-price {
        font-size: 18px;
        font-weight: 600;
        color: $color1;
        margin-bottom: 5px;
      }

      .product-title {
        font-size: 22px;
        margin-bottom: 15px;
        font-weight: 600;

        a {
          color: $color2;
          text-decoration: none;

          &:hover {
            color: $color1;
          }
        }
      }

      .product-description p {
        font-size: 13px;
        margin-bottom: 25px;
        color: #5c727d;
        line-height: 25px;
      }
    }

    .ltn__list-item-2 {
      padding-left: 0;
    }

    .ltn__list-item-2-before li {
      position: relative;
      color: #5c727d;
    }

    .ltn__list-item-2 li {
      list-style: none;
      display: inline-block;
      position: relative;
      margin-right: 30px;
      max-width: 160px;
      font-size: 12px;
    }

    .ltn__list-item-2-before li::before {
      position: absolute;
      content: "";
      right: -15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 1px;
      height: 100%;
      background-color: $color2;
      opacity: 0.2;
    }

    .ltn__list-item-2 li span {
      display: block;
      font-weight: 700;
    }

    .ltn__list-item-2-before li {
      position: relative;
    }

    .ltn__list-item-2 li {
      list-style: none;
      display: inline-block;
      position: relative;
      margin-right: 30px;
      max-width: 160px;
      font-size: 14px;
    }

    .ltn__list-item-2 li:last-child {
      margin-right: 0;

      &::before {
        display: none;
      }
    }
  }

  .slick-arrow {
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 15px;
    right: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    line-height: 53px;
    display: block;
    border: 1px solid rgba(204, 204, 204, 0.493);
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0) !important;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    right: 15px;
    left: auto;

    &:before,
    &:before {
      color: #000 !important;
    }

    &:hover {
      background-color: $color1 !important;
      border: 1px solid $color1;

      &:before,
      &:before {
        color: #fff !important;
      }
    }
  }

  .slick-prev.slick-arrow {
    top: 50%;
    left: 15px;
  }

  &:hover .slick-arrow {
    opacity: 1;
    visibility: visible;
  }
}
// PROPERTY CARD END

// FOOTER START
.footer_container {
  background-color: #171b2a;
  padding-top: 4.5rem;

  ul {
    li {
      a {
        color: #fff;

        div {
          margin-left: -20px;
        }

        span {
          opacity: 0;
        }

        &:hover {
          color: $color1;

          span {
            color: $color1;
            opacity: 1;
          }

          div {
            margin-left: 0px;
          }
        }
      }
    }
  }

  .bottom {
    background: #282b38;
  }
}
// FOOTER END

// NEWSLETTER START
.newsletter_container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 50%;
    width: 100%;
    background-color: #171b2a;
    z-index: -1;
  }

  .inner_container {
    background: $color1;
    padding: 10px 60px 60px 60px;
  }
}
// NEWSLETTER END

// INPUT START
.custom-field {
  position: relative;
  width: 100%;

  input {
    font-size: 0.875rem;
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;

    &:focus {
      outline: none;
      box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
    }
  }

  .icon {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
  }
}
// INPUT END
